---
import { projects } from "@resume";
---

<section class="flex flex-col gap-5 mt-5">
  <h1 class="text-xl font-semibold">🚀 Projects</h1>
  <div class="cards__container">
    {
      projects.map((project) => (
        <div class="card group border p-5 flex flex-col gap-2 rounded-lg bg-[#F9F5F1] dark:bg-slate-800 transition-colors duration-100 ease-in-out border-b-2 hover:border-slate-800 dark:border-slate-600 cursor-pointer">
          <div class="card__header">
            <span class="w-12 h-12 flex justify-center items-center rounded-md border group-hover:border-b-4 group-hover:border-slate-800 ease-in-out duration-150 border-slate-300 dark:border-slate-600">
              {project.emoji}
            </span>
          </div>
          <div class="card__body flex-1">
            <h2 class="text-lg font-semibold hover:underline cursor-pointer">
              <a href={project.url} target="_blank">
                {project.name} 🔗
              </a>
            </h2>
            <p class="text-gray-500 dark:text-gray-300 text-sm">
              {project.description}
            </p>
          </div>
          <div class="card__footer text-xs flex flex-wrap mt-2 gap-1">
            {project.highlights.map((highlight) => (
              <span class="bg-slate-100 text-slate-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-slate-700 dark:text-slate-400 border border-slate-300 dark:border-slate-500 text-nowrap">
                {highlight}
              </span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
</style>
